* {
    border: none;
    font-family: 'Ubuntu';
    font-size: 16px;
}

window#waybar {
    background: #1d2021;
    color: #83a598;
}

tooltip {
    background: rgba(0,0,0,.8);
    border: 2px solid rgba(170,170,170,0.9);
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    border-bottom: 3px solid transparent;
    color: #d5c5a1; /* fg2 */
}

#workspaces button.active {
    border-bottom: 3px solid #b8bb26;
    color: #b8bb26;
}

#workspaces button.urgent {
    border-bottom: 3px solid #fb4934;
    color: #fb4934;
}

#workspaces button:hover {
    background: #282828; /* bg */
    color: #fe8019;
}

#mode, #clock, #battery { 
    padding: 0 10px;
    color: #d5c5a1; /* fg2 */
}

#custom-networkmenu, #custom-wallpaperswap {
    padding: 0 10px;
}

#custom-nowplaying-title {
    padding: 0 0 0 200px;
    color: #d5c5a1; /* fg2 */
}

#custom-nowplaying-separator {
    padding: 0px;
    color: #7c6f64; /* bg4 */
}

#custom-nowplaying-artist {
    padding: 0px;
    color: #7c6f64; /* bg4 */
}
