* {
    border: none;
    font-family: 'Ubuntu';
    font-size: 16px;
}

window#waybar {
    background: #1e2326;
    color: #a7c080;
}

tooltip {
    background: rgba(0,0,0,.8);
    border: 2px solid rgba(170,170,170,0.9);
}

#workspaces button {
    padding: 0 6px;
    background: #272e33;
    border-bottom: 3px solid transparent;
    color: #d3c6aa;
    border-radius: 0;
}

#workspaces button.active {
    border-bottom: 3px solid #a7c080;
    color: #a7c080;
}

#workspaces button.urgent {
    border-bottom: 3px solid #e67e80;
    color: #e67e80;
}

#workspaces button:hover {
    background: #2e383c;
    color: #a7c080;
}

#mode, #clock, #battery { 
    padding: 0 10px;
    color: #d3c6aa;
    background: #272e33;
}

#custom-networkmenu, #custom-wallpaperswap {
    padding: 0 10px;
}

#custom-nowplaying-title {
    padding: 0 0 0 200px;
    color: #d3c6aa;
}

#custom-nowplaying-separator {
    padding: 0px;
    color: #4f5b50;
}

#custom-nowplaying-artist {
    padding: 0px;
    color: #4f5b50; 
}

#custom-left-slope, #custom-right-slope {
    padding: 0;
    margin: 0;
    color: #272e33;
    font-size: 32px;
}
