* {
    border: none;
    font-family: 'Ubuntu';
    font-size: 16px;
}

window#waybar {
    background: #1e2326;
}

tooltip {
    background: rgba(0,0,0,.8);
    border: 2px solid rgba(170,170,170,0.9);
}

#window {
    padding: 0 10px;
    color: #a7c080;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#workspaces button {
    padding: 0 6px;
    background: #272e33;
    border-bottom: 3px solid #495156;
    color: #d3c6aa;
    border-radius: 0;
}

#workspaces button.active {
    border-bottom: 3px solid #a7c080;
    color: #a7c080;
}

#workspaces button.urgent {
    border-bottom: 3px solid #e67e80;
    color: #e67e80;
}

#workspaces button:hover {
    background: #2e383c;
    color: #a7c080;
}

#mode, #clock, #battery, #custom-volume { 
    padding: 0 10px;
    color: #d3c6aa;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-networkmenu, #custom-wallpaperswap {
    padding: 0 10px;
}

#custom-nowplaying-title {
    margin: 0 0 0 190px;
    padding: 0 0 0 10px;
    color: #d3c6aa;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-nowplaying-separator {
    padding: 0px;
    color: #4f5b50;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-nowplaying-artist {
    padding: 0 10 0 0px;
    color: #4f5b50; 
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-left-slope, #custom-right-slope {
    padding: 0;
    margin: 0;
    color: #272e33;
    font-size: 32px;
}

#custom-maximized-indicator {
    padding: 0 10 0 0px;
    color: #ebbc7f;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-powermenu {
    padding: 0 2 0 5px;
    color: #d699b6;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-powermenu:hover {
    background: #2e383c;
    color: #a7c080;
}

#custom-sep {
    padding: 0 8 0 8px;
    color: #495156;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
    font-size: 22;
}

#custom-clock-icon, #custom-volume-icon {
    padding: 0px;
    color: #d699b6;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-spotify-title {
    padding: 0 0 0 10px;
    color: #d3c6aa;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-spotify-artist {
    padding: 0 10 0 0px;
    color: #9da9a0; 
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-spotify-prev, #custom-spotify-playpause, #custom-spotify-next {
    padding: 0px;
    color: #ebbc7f;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-spotify-prev:hover, #custom-spotify-playpause:hover, #custom-spotify-next:hover {
    background: #2e383c;
    color: #a7c080;
}

#custom-spotify-icon {
    padding: 0px;
    color: #d699b6;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}
