* {
    border: none;
    font-family: 'Ubuntu';
    font-size: 16px;
}

window.dock#waybar {
    border: 2px solid #374145;
}

window#waybar {
    background: #1e2326;
}

tooltip {
    background: rgba(0,0,0,.8);
    border: 2px solid rgba(170,170,170,0.9);
}

#window {
    padding: 0 10px;
    color: #a7c080;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#window:hover {
    background: #2e383c;
    border-bottom: 3px solid #859289;
}

#workspaces button {
    padding: 0 6px;
    background: #272e33;
    border-bottom: 3px solid #495156;
    color: #d3c6aa;
    border-radius: 0;
}

#workspaces button.active {
    border-bottom: 3px solid #a7c080;
    color: #a7c080;
}

#workspaces button.urgent {
    border-bottom: 3px solid #e67e80;
    color: #e67e80;
}

#workspaces button:hover {
    background: #2e383c;
    color: #a7c080;
}

#mode, #clock, #battery, #custom-volume, #custom-wlsun-status { 
    padding: 0 10px;
    color: #d3c6aa;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-networkmenu, #custom-wallpaperswap {
    padding: 0 10px;
}

#custom-nowplaying-title {
    margin: 0 0 0 190px;
    padding: 0 0 0 10px;
    color: #d3c6aa;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-nowplaying-separator {
    padding: 0px;
    color: #4f5b50;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-nowplaying-artist {
    padding: 0 10 0 0px;
    color: #4f5b50; 
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-left-slope, #custom-right-slope {
    padding: 0;
    margin: 0;
    color: #272e33;
    font-size: 32px;
}

#custom-maximized-indicator {
    padding: 0 10 0 0px;
    color: #ebbc7f;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-powermenu {
    padding: 0 2 0 5px;
    color: #d699b6;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-powermenu:hover {
    background: #2e383c;
    color: #a7c080;
}

#custom-sep, #custom-spotify-sep {
    padding: 0 8 0 8px;
    color: #495156;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
    font-size: 22;
}

#custom-clock-icon, #custom-volume-icon, #custom-spotify-icon, #custom-wlsun-icon {
    padding: 0px;
    color: #d699b6;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-spotify-title {
    padding: 0 0 0 10px;
    color: #d3c6aa;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-spotify-artist {
    padding: 0 10 0 0px;
    color: #9da9a0; 
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-spotify-prev, #custom-spotify-playpause, #custom-spotify-next {
    padding: 0px;
    color: #ebbc7f;
    background: #272e33;
    border-bottom: 3px solid #495156;
    border-radius: 0;
}

#custom-spotify-prev:hover, #custom-spotify-playpause:hover, #custom-spotify-next:hover {
    background: #2e383c;
    color: #a7c080;
}

#custom-wlsun-status:hover {
    background: #2e383c;
    color: #a7c080;
}



#custom-exit {
    color: #e67390;
    padding: 0 10;
    background: #4c3743;
    border-top: 2px solid #374145;
    border-right: 2px solid #374145;
    border-bottom: 2px solid #374145;
}
#custom-exit:hover {
    color: #d699b6;
    background: #804a5e;
    border-top: 2px solid #374145;
    border-right: 2px solid #374145;
    border-bottom: 2px solid #374145;
}

#custom-firefox {
    color: #e69875;
    padding: 0 10;
    border-left: 2px solid #374145;
}
#custom-firefox:hover {
    background: #272e33;
    border-top: 2px solid #374145;
    border-left: 2px solid #374145;
    border-bottom: 2px solid #374145;
}

#custom-firefoxprivate {
    color: #d699b6;
    padding: 0 10;
}
#custom-firefoxprivate:hover {
    background: #272e33;
    border-top: 2px solid #374145;
    border-bottom: 2px solid #374145;
}

#custom-spotify {
    color: #83c092;
    padding: 0 10;
}
#custom-spotify:hover {
    background: #272e33;
    border-top: 2px solid #374145;
    border-bottom: 2px solid #374145;
}

#custom-steam {
    color: #6082d9;
    padding: 0 10;
}
#custom-steam:hover {
    background: #272e33;
    border-top: 2px solid #374145;
    border-bottom: 2px solid #374145;
}

#custom-discord {
    color: #7669f5;
    padding: 0 10;
}
#custom-discord:hover {
    background: #272e33;
    border-top: 2px solid #374145;
    border-bottom: 2px solid #374145;
}

#custom-btop {
    color: #d3c6aa;
    padding: 0 10;
}
#custom-btop:hover {
    background: #272e33;
    border-top: 2px solid #374145;
    border-bottom: 2px solid #374145;
}

#custom-terminal {
    color: #9da9a0;
    padding: 0 10;
}
#custom-terminal:hover {
    background: #272e33;
    border-top: 2px solid #374145;
    border-bottom: 2px solid #374145;
}
