spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "waybar -c $HOME/.config/waybar/config.niri.jsonc"
spawn-at-startup "swww-daemon"
spawn-sh-at-startup "clipse -listen"

spawn-at-startup "gsettings set org.gnome.desktop.interface cursor-theme BreezeX-RosePine-Linux"
spawn-at-startup "gsettings set org.gnome.desktop.interface cursor-size 24"

spawn-at-startup "$HOME/.local/bin/scripts/hyprland-utils/clearTempHyprshots.sh"

cursor {
    xcursor-theme "BreezeX-RosePine-Linux"
    xcursor-size 24

    hide-after-inactive-ms 5000
}

input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    touchpad {
        off
    }

    mouse {
    }

    trackpoint {
        off
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="50%"
}

output "DP-3" {
    mode "3440x1440@144.000"
    scale 1
    transform "normal"
    position x=1280 y=0
}

layout {
    gaps 7
    center-focused-column "on-overflow"
    always-center-single-column
    preset-column-widths {
        proportion 0.66667
        proportion 0.5
        proportion 0.33333
    }

    preset-window-heights {
        proportion 0.66667
        proportion 0.5
        proportion 0.33333
    }

    default-column-width { proportion 0.5; }

    border {
        width 2
        active-color "#374145"
        inactive-color "#272e33"
    }

    focus-ring {
        off
    }

    tab-indicator {
        place-within-column
        gap 2
        gaps-between-tabs 10
    }
}

gestures {
    hot-corners {
        off
    }
}


prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


binds {
    // Niri
    Mod+Shift+Slash      { show-hotkey-overlay; }
    Mod+Tab repeat=false { toggle-overview; }
    Mod+Q                { close-window; }
    Mod+V                { spawn "kitty" "-e" "clipse"; }

    // Screenshot
    Mod+Ctrl+S           { spawn-sh "$HOME/.local/bin/scripts/rofi-utils/screenShotMenu.sh"; }
    Mod+Alt+S            { spawn-sh "hyprshot -m region -t 3000 -o $HOME/Pictures/hyprshots/tmp"; }
    
    // Rofi
    Mod+D hotkey-overlay-title="Rofi: drun"     { spawn "rofi" "-show" "drun"; }
    Mod+Alt+R hotkey-overlay-title="Rofi: run"  { spawn "rofi" "-show" "run"; }
    Mod+Escape                                  { spawn-sh "$HOME/.local/bin/scripts/rofi-utils/powerMenu.sh"; }
    Mod+U                                       { spawn-sh "$HOME/.local/bin/scripts/rofi-utils/utilmenu.sh"; }
    
    // Launchers
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+X hotkey-overlay-title="Launch Firefx" { spawn "firefox"; }

    // Audio keys
    XF86AudioRaiseVolume { spawn-sh "$HOME/.local/bin/scripts/hyprland-utils/volume.sh up"; }
    XF86AudioLowerVolume { spawn-sh "$HOME/.local/bin/scripts/hyprland-utils/volume.sh down"; }
    XF86AudioMute        { spawn "pavucontrol"; }
    XF86AudioNext        { spawn "playerctl" "-p" "spotify,spotify_player" "next"; }
    XF86AudioPause       { spawn "playerctl" "-p" "spotify,spotify_player" "play-pause"; }
    XF86AudioPlay        { spawn "playerctl" "-p" "spotify,spotify_player" "play-pause"; }
    XF86AudioPrev        { spawn "playerctl" "-p" "spotify,spotify_player" "previous"; }

    // Layout
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R       { switch-preset-column-width; }
    Mod+Ctrl+R  { switch-preset-window-height; }
    Mod+Shift+R { reset-window-height; }
    Mod+M       { maximize-column; }
    Mod+F       { fullscreen-window; }

    Mod+Ctrl+M { expand-column-to-available-width; }

    Mod+C      { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Ctrl+Minus { set-window-height "-10%"; }
    Mod+Ctrl+Equal { set-window-height "+10%"; }

    Mod+Space       { toggle-window-floating; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }


    Pause { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
